body {
  background-color: #f8f8f8;
}

/* Scroll top */
#scrollTop {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 12px solid transparent;
  border-bottom: 23px solid black;
  border-left: 13px solid transparent;
  position: fixed;
  bottom: 2%;
  right: 2%;
  transition: all 1s ease;
}

#scrollTop:hover {
  bottom: 3%;
}

/* Catégorie Accueil - Carrousel */
.carousel-caption h2 {
  color: white;
}

.opacity {
  background-color: #f8f8f8;
}

.opacity img {
  opacity: 0.8;
}

/* Modal Panier */
.modal-body h3 {
  color: #2a4c54;
}

.background-modal {
  background-color: #f8f8f8;
}

/* Catégorie Produits */
h1,
h2,
h3 {
  color: #2a4c54;
}

.card:hover {
  box-shadow: 3px 3px 8px #2a4c54;
}

.card-text {
  color: #bb5554;
  font-weight: bold;
  font-size: 1.2em;
}
.card-link {
  color: #3a3a3a;
}

/* Couleurs:
Blanc sur le menu #FFFFFF
Sur les écritures menu et titre Vert #2A4C54 
Background page Blanc-Gris #F8F8F8
Icônes en rouge pastel #BB5554
Écritures type noire-gris #3a3a3a
*/

/* Polices
font-family: 'Noto Sans JP', sans-serif;
*/
