html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  color: #2a4c54;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  /* background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2401x1600/5feada3dbb796c41fa01df7bd1dbd6f2/photo-1466781783364-36c955e42a7f.jpg");
  background-size: cover;
  background-attachment: fixed; */
}

/*Navbar*/
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.nav-item a {
  color: #2a4c54 !important;
}

nav {
  position: absolute;
  background: #f8f8f8;
  z-index: -1;
}

nav a:hover {
  background-color: #7eb9be;
}

.navbar-brand {
  transform: translate(-500%);
}
.navbar-right {
  transform: translate(-50%);
}

.img-responsive {
  position: relative;
  height: 100%;
  width: auto;
}
.iconepanierTop {
  z-index: 1;
}

#histoireFirst {
  margin: 2.4rem;
}

ul li {
  text-align: center;
}

#plantInt :target {
  padding-top: 7em;
  margin-top: -7em;
}
#plantExt :target {
  padding-top: 7em;
  margin-top: -7em;
}
#bouquets :target {
  padding-top: 7em;
  margin-top: -7em;
}

/* Icônes panier */
.fas {
  color: #2a4c54;
}

/* Footer */
footer {
  background: #2a4c54;
  color: white;
  position: relative;
  width: 100%;
  height: auto;
}

.footerLeft {
  margin-top: 2rem;
  text-align: center;
}

.footerRight {
  margin-top: 2rem;
  text-align: center;
}

.footerCenter {
  margin-top: 2rem;
}

.footerBottom {
  text-align: center;
}

#footerRight #links a:hover {
  color: white;
}

a {
  color: lightblue;
}

a:hover {
  color: white;
}

/* Catégorie Accueil - Carrousel */
.opacity {
  background-color: #000000;
}

.opacity img {
  opacity: 0.8;
}

.carousel-caption h2 {
  color: white;
}

.modal-body h3 {
  color: #2a4c54;
}

.background-modal {
  background-color: #f8f8f8;
}

/* Scroll top */
#scrollTop {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 12px solid transparent;
  border-bottom: 23px solid black;
  border-left: 13px solid transparent;
  position: fixed;
  bottom: 2%;
  right: 2%;
  transition: all 1s ease;
  z-index: 1;
}

#scrollTop:hover {
  bottom: 3%;
}

/* Modal Panier */
.modal-body h3 {
  color: #2a4c54;
}

.background-modal {
  background-color: #f8f8f8;
}

/* Catégorie Produits */
h1,
h2,
h3 {
  color: #2a4c54;
  /* text-shadow: 2px 2px 4px #f8f8f8; */
}

/* #plantesInt,
#plantesExt,
#bouquets,
#prod {
  display: none;
} */

.card:hover {
  box-shadow: 3px 3px 8px #2a4c54;
}

.card-text {
  color: #bb5554;
  font-weight: bold;
  font-size: 1.2em;
}
.card-link {
  color: #3a3a3a;
}

/* Couleurs:
Blanc sur le menu #FFFFFF
Sur les écritures menu et titre Vert #2A4C54 
Background page Blanc-Gris #F8F8F8
Icônes en rouge pastel #BB5554
Écritures type noire-gris #3a3a3a
*/

/* Polices
font-family: 'Noto Sans JP', sans-serif;
*/
